body{
  font-family: 'Playfair Display', serif;
}
h1{
  color:black;
}
.companyName{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}
.welcome{
  height: 400px;
  background: url("http://wallpapercave.com/wp/GBBSLlA.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.intro{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: black;
}
h2{
  font-family: 'Poppins', sans-serif;
  color:black;
}
.craftrow{
  padding-right: 10px;
}
.searchRow{
  margin-left: 500px;
}
