{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CraftShop</title>
  {%block styles%}
   {%bootstrap_css%}
       <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
       <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  {% endblock %}


  <style>
  body{
    margin: 0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
  }
  .intro{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: black;
  }
  h1{
    color:black;
    font-size: 20px;
  }
  </style>


</head>
<body>
  <div class="container-fluid" style="padding:0px">
    <!-- <div class="row">

    </div> -->
    <div class="row welcome">
    {% include "navbar.html" %}
    {%include "searchBar.html" %}
    <h1 class="intro text-center">Create Art</h1>
    <h1 class="intro text-center">Sell Art</h1>
    <h1 class="intro text-center">Showcase Art</h1>
    
    <div class="col-sm-12 col-md-12 text-center">
          {% if user.is_authenticated %}
          <ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/accounts/password/change">CHANGE PASSWORD</a>
                </li>
                <li>
                  <a href="/logout">LOG-OUT</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">GET STARTED</a>
          </li>

          {% endif %}
        </div>
    </div>

    <div class="row">
    {% for craft in crafts %}
    <h1 class="text-center">WHATS NEW AND TRENDING</h1>
    <a href="{%url 'crafts' craft.id%}">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  craftrow">

        <img src="{{craft.craft_image.url}}" class="img-responsive img-thumbnail img-rounded" alt="Image" style="height:300px">
        <h1 class="product"> {{ craft.craft_name}} </h1>
        <h1 class="product">KSH: {{craft.craft_price}}</h1>

    </div>
    </a>
      </div>
    {% empty %}
    <div class="row">
     <h1 class="text-center">THERE ARE NO CRAFTS TODAY</h1>
     <a href="{%url 'allCraft'%}"><button class="btn btn-info" style="margin-left:45%">SEE MORE CRAFTS</button></a>
    </div>
    {% endfor %}

    <div class="row" style="margin-top:100px">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <form action="{%url "welcome"%}" method="POST">
         {%csrf_token%}
         {%bootstrap_form form layout="inline"%}
         <input type="submit" value="Subscribe" class="btn btn-info">
        </form>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
  </div>
  {% block scripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
  {% endblock %}
</body>
</html>
